body{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
}
*{
    font-family:'Courier New', Courier, monospace;
    
}
.container
{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
    /* width: 1200px; */
    /* height: 420px; */
    column-gap: 50px;
}
.container-sm
{
    display: flex;
    flex-direction: column;
    align-items: center ;
    background-color: rgb(120, 167, 255);
    width: 60%;
    height: 40%;
    border-radius: 25px;
}
.container-sm p{
    font-weight: bold;
    font-size: xx-large;
}
img
{
   height:50%;
   width: 50%;
    /* max-height:200px;
    max-width: 200px; */
}
.controls
{
    display: flex;
    flex-direction: row;
    width: 70%;
    align-content: space-evenly;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: aquamarine;
    margin-top:1% ;
    row-gap: 50px;
}
.controls button{

    font-size: 150%;
    font-weight: bold;
    height: 4cqmax;
    width:17cqmax;
}
.score
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    line-height: 1%;
    margin-bottom:1%;
    height:50%;
}
.score p{
    font-weight: bold;
    line-height: 1%;
    width: 150%;
}
.score button{
    font-weight: bold;
    width: 150%;
}
h1{
    font-size: xx-large;
    width:100%;
}
nav
{
    margin-right: 10%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    column-gap: 40%;
    margin-left: 10%;
    width: 80%;
}
